/**
* This file needs to be refactored. It's a mess. 
* Namings are not ideal.
*/

// Default Variable
$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Custom Variable
//$primary-one: #389b99;
//$primary-one: #389b99;
$primary-one: #1f2124;
$primary-two: #000;
//$primary-three: #2929c8;
$primary-three: #DEE2EF;
//$secondary-one: #cfdde4;
$secondary-one: #323232;
$secondary-two: #493346;
$secondary-three: #00afc8;
$third-one: #ff3d24;
$third-two: #ffbc01;
$third-three: #00b470;
//$btn-color: #131393;
$btn-color: #1f2124;
$border-color: #788795;
$new-text-color: #9eb2c6;
$custom-gray: #1c1d29;
$menu-color: #151526;
$gray: #8d8d8d;
$tablet: 450px;
$laptop: 768px;
$desktop: 1300px;
