<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests for static assets
  RewriteRule ^(css|js|img|fonts)/(.*)$ /$1/$2 [L]

  # Handle all other requests
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>
